<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handing Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/styles/style.css" th:href="@{/styles/style.css}" rel="stylesheet" />
</head>
<body>
<div>
    <ul class="header-menu">
        <li><a href="/home">Main</a></li>
        <li><a href="/credit">Credits</a></li>
        <li><a href="/share">Send money for friend</a></li>
        <li><a href="/mail">Send mail</a></li>
    </ul>
</div>
<p th:text="'Hello, this is your private account, ' + ${firstName}" />
<p th:text="'Your last name: ' + ${lastName}" />
<p th:text="'Your mail address: ' + ${mail}" />
<p th:text="'Your password: ' + ${password}" />
<form action="#" th:action="@{/account}" th:object="${user}" method="post">
    <p class ="form-greeting">Введите свой id<input type="number" th:field="*{id}" /></p>
    <p class ="form-greeting">Пополнить счет <input type="number" th:field="*{payment}" /></p>
    <p class ="form_greeting"><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>

</body>
</html>