<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
            xmlns:th="http://www.thymeleaf.org">

<head>
    <title>document</title>
    <link href="../static/styles/style.css" th:href="@{/styles/style.css}" rel="stylesheet" />
</head>
<body>
<div>
    <ul class="header-menu">
        <li><a href="/home">Main</a></li>
    </ul>
</div>
<h1>Welcome to my banking system</h1>
    <form action="#" th:action="@{/greeting}" th:object="${user}" method="post">
    <p class ="form-greeting">firstName: <input type="text" th:field="*{firstName}" /></p>
    <p class ="form-greeting">lastName: <input type="text" th:field="*{lastName}" /></p>
    <p class ="form-greeting">mail: <input type="text" th:field="*{mail}" /></p>
    <p class ="form-greeting">password: <input type="text" th:field="*{password}" /></p>
    <p class ="form_greeting"><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>