<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
</head>
<body>
<h1>Welcome to...</h1>
<h1>Form</h1>
    <form action="#" th:action="@{/greeting}" th:object="${user}" method="post">
    <p>firstName: <input type="text" th:field="*{firstName}" /></p>
    <p>lastName: <input type="text" th:field="*{lastName}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

</body>
</html>